html,body{
    margin:0;
    padding:0;
    font:62.5%;
    box-sizing:border-box;
}
body{
    height:100%;
    width:100%;
}
header{
    height:5rem;
    width:100%;
}
nav{
   text-align:center;
    height:5rem;
    width:100%;
    display:block;
}
nav > ul{
    display:inline-block;
    list-style:none;
    line-height:1rem;
}
li{
    padding:1rem;
    display:inline;
    float:left;
    height:1rem;
    font-size:1rem;
    text-transform:uppercase;
}
a{
  color:#000000;     
  text-decoration:none;
}
a:hover{
    background-color:#f9da0c;
}
.active_li{
   background-color:#f9da0c; 
}

/*owl*/
#logo{
    margin:0 auto;
    display:block;
    text-align:center;
}
section{
    margin-top;2rem;
    height:30rem;
    width:100%;
    background-color:#7a1501;
}
h2{
    text-transform:uppercase;
    text-align:center;
    color:#ffffff;
}
h1{
    text-align:center;
    color:#ffffff;
}
hr{
    color:#ffffff;
    width:45%;
}

/*verticle line between div*/
.verticle_line{
    margin-top:4rem;
    padding:20px;
    height:10rem;
    width:calc(84%/3);
    border-right:2px solid #ffffff;
    text-align:center;
    display:inline;
    float:left;
}
.nocolor_a:hover{
    background-color:#7a1501;
}
span{
    text-transform:uppercase;
    color:#ffffff;
}

#left_img{
    margin-top:4rem;
    padding:20px;
    height:10rem;
    width:calc(84%/3);
    text-align:center;
    display:inline;
    width:calc(84%/3);
    float:left;
}

/*nav bar icon*/

.hamburger{
    float:right;
    visibility: hidden;
    
}
.fa{
    float: right;
    visibility:hidden;
}

@media only screen and (max-width:700px){

  header >ul{
        visibility:hidden;
       
    }

    .hamburger{
        width: auto;
        height: auto;
        margin:0 auto;
        text-align: center;
        background-color:chartreuse;
        visibility: visible;
    }
    .fa{
      visibility: visible;
        color:grey;
    }
}
   