html,body{
    margin:0;
    padding:0;
    font:62.5%;
    box-sizing:border-box;
}
body{
    height:100%;
    width:100%;
}
header{
    height:5rem;
    width:100%;
}
nav{
   text-align:center;
    height:5rem;
    width:100%;
    display:block;
}
nav > ul{
    display:inline-block;
    list-style:none;
    line-height:1rem;
}
li{
    padding:1rem;
    display:inline;
    float:left;
    height:1rem;
    font-size:1rem;
    text-transform:uppercase;
}
a{
  color:#000000;     
  text-decoration:none;
}
a:hover{
    background-color:#f9da0c;
}
.active_li{
   background-color:#f9da0c; 
}
.active_li > a{
    color:#7a1501;
}

/*owl*/
#logo{
    margin:0 auto;
    display:block;
    text-align:center;
}
section{
    margin-top;2rem;
    height:30rem;
    width:100%;
    background-color:#7a1501;
}
h2{
    text-transform:uppercase;
    text-align:center;
    color:#ffffff;
}
h1{
    text-align:center;
    color:#ffffff;
}
hr{
    color:#ffffff;
    width:45%;
}

/*verticle line between div*/
.verticle_line{
    margin-top:4rem;
    padding:20px;
    height:10rem;
    width:calc(84%/3);
    border-right:2px solid #ffffff;
    text-align:center;
    display:inline;
    float:left;
}
.nocolor_a:hover{
    background-color:#7a1501;
}
span{
    text-transform:uppercase;
    color:#ffffff;
}

#left_img{
    margin-top:4rem;
    padding:20px;
    height:10rem;
    width:calc(84%/3);
    text-align:center;
    display:inline;
    width:calc(84%/3);
    float:left;
}

/*nav bar icon*/

.hamburger{
    float:right;
    visibility: hidden;
    
}
.fa{
    float: right;
    visibility:hidden;
}
top_line{
    width:100%;
    visibility:hidden;
}
/*media query*/
@media only screen and (max-width:768px){

  header >ul{
       display: block;
    }

    .hamburger{
        width: auto;
        height: auto;
        margin:0 auto;
        text-align: center;
        background-color:chartreuse;
        visibility: visible;
    }
    .fa{
        margin:0 auto;
        visibility: visible;
        color:grey;
    }
    #top_line{
        visibility:visible;
    }
    #logo{
        height:auto;
        width:100%;
   }
   
    .verticle_line{
        height: auto;
        max-width:62px;
    }
    #left_img{
        max-width:62px;
        height: auto;
    }
    
    hr{
        width:100%;
    }
    
}
/*about_page*/   

header{
    height:4rem;
}

.img_link{
   
    padding:.5rem;
}
.plain_nav{
    margin:0 auto;
    position:relative;
    top:-6rem;
    height:5rem;
    width:60%;   
}
.plain_nav >ul{
    height:5rem;
}
.plain_li >a:hover{
    color:#7a1501;
    background-color:#ffffff;
}
#background_img{
    margin:0;
    padding:0;
    height:10rem;
    width:100%;
    background-image:url(http://geekwiseacademy.com/img/owl-about.png);
    background-repeat: no-repeat;
    background-color:#ffffff;
}
#background_img > h1{
    text-transform: uppercase;
    height:5rem;
    width:20%rem;
    float:right;
    color:#000000;
}
h1{
    padding:.5rem;
    display: block;
    position:relative;
    transform:translateX(-7rem);
}
button{
 margin:0 auto;
 height:3rem;
 width:5rem;
 position:relative;
 transform:translateX(35rem);
 top:-2rem;
 border-color:#f9da0c;
 background-color:#f9da0c;
}
main{
    margin:0;
    padding:0;
    height:auto;
    width:100%;
    background-color:#7a1501;
}
#section_about{
    margin:0 auto;
    height:30rem;
    width:75%;
    background-color:#7a1501;
}
.div_t{
    margin:0;
    padding:.5rem;
    height:15rem;
    width:30rem;
    box-sizing: border-box;
    font-size:15px;
    float:left;
}

footer{
    margin:0; 
    height:3rem;
    width:100%;
    background-color:#f9da0c;
}
#foot_link{
    text-align: center;
    line-height: 3rem;
    color:#7a1501;
}